<div class='jumbotron'>
	<div class='container'>
		<h1><%= @user['username'] %></h1>
		
		<%
		posts = @user['counts']['posts']
		followers = @user['counts']['followers']
		following = @user['counts']['following']
		stars = @user['counts']['stars']
		username = @user['username']
		joinDate = time_ago_in_words(@user['created_at'])		
		@user['description'] ? description = @user['description']['html'] : description = 'No description set'
		%>
		
		<p><%= "#{number_to_human(posts)} posts | #{followers} followers | #{following} following | #{stars} stars" %></p>
	</div>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-sm-8'>
			<%= render partial: 'shared/postlist', locals: {posts: @posts} %>
		</div>
		
		<div class='col-sm-4'>
			<h3>About <%= username %>:</h3>
			<%= description.html_safe %>
			<p style='margin-top:1em'><strong>Joined:</strong> <%= joinDate %> ago</p>
		</div>
	</div>
</div>